<mat-sidenav-container>
  <div class="admin-section">
    <div class="admin-header" fxLayout="row">
      <h1 class="mat-h1 section-title" fxFlex="66" fxFlexOffset="15">Admin</h1>
      <div fxFlex fxLayout="column" fxLayoutAlign="center end">
        <button mat-button (click)="logout()" class="logout-button">Logout</button>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Content">
        <introduction-edit fxLayout="column"
                           fxLayoutAlign="center center"></introduction-edit>
        <music-edit></music-edit>
        <transcription-edit></transcription-edit>
        <biography-edit></biography-edit>
      </mat-tab>
      <mat-tab label="User Management">
        <p>Users Go Here</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-sidenav-container>
