.logout-button {
  padding: 0 50px;
  margin-right: 30px;
  margin-top: 34px;
  border: white 1px solid;
}

/*Idea: when the screen is in extra small show the button in the sandwich menu with a separator */
