<h1 class="mat-h1 section-title">Register</h1>
<div class="success-message" *ngIf="showSuccessMsg">
  <h2>User created successfully. </h2>
  <h4>Please have an already authorized user to authorize your account before you can login.</h4>
</div>
<div class="messages">
  <p *ngFor="let message of messages">- {{message}}</p>
</div>
<mat-card fxLayout="column" class="section-container register-section" *ngIf="!showSuccessMsg">
  <mat-input-container>
    <input matInput #username type="text" placeholder="Username" autofocus
           (keyup.enter)="registerUser(username.value, email.value, password.value, passwordMatch.value)">
  </mat-input-container>
  <mat-input-container>
    <input matInput #email type="email" placeholder="Email"
           (keyup.enter)="registerUser(username.value, email.value, password.value, passwordMatch.value)">
  </mat-input-container>
  <mat-input-container>
    <input matInput #password type="password" placeholder="Password"
           (keyup.enter)="registerUser(username.value, email.value, password.value, passwordMatch.value)">
  </mat-input-container>
  <mat-input-container>
    <input matInput #passwordMatch type="password" placeholder="Password"
           (keyup.enter)="registerUser(username.value, email.value, password.value, passwordMatch.value)">
  </mat-input-container>
  <button mat-button (click)="registerUser(username.value, email.value, password.value, passwordMatch.value)">Register
  </button>
  <a routerLink="/admin/login">Already Registered?</a>
</mat-card>
