<div class="biography-section section-container">
  <div class="mat-h1 section-title">Biography</div>

  <img class="biography-image" src="{{biography.picUrl}}" alt="alfredo playing on stage">
  <p class="mat-body-1">{{ biography.biographyText }}</p>

  <h1 class="mat-h1 section-title">Gear</h1>
  <div class="gear-section">
    <div class="gear-list" *ngFor="let gearHeading of biography.gear">
      <h3 class="mat-subheading-1">{{ gearHeading.gearType }}</h3>
      <ul class="gear-list-item">
        <li class="mat-body-1" *ngFor="let gear of gearHeading.items">{{ gear.name }}</li>
      </ul>
    </div>
  </div>
</div>
