<h1 class="mat-h1 section-title">Login</h1>
<div class="messages">
  <p *ngFor="let message of messages">- {{message}}</p>
</div>
<mat-card fxLayout="column" class="section-container login-section">
  <mat-form-field>
    <input matInput #username type="text" placeholder="Username"
           (keyup.enter)="login(username.value, password.value)" autofocus>
  </mat-form-field>
  <mat-form-field>
    <input matInput #password type="password" placeholder="Password"
           (keyup.enter)="login(username.value, password.value)">
  </mat-form-field>
  <button mat-button (click)="login(username.value, password.value)">Login</button>
  <a routerLink="/admin/register">Register here</a>
</mat-card>
