@import "../../node_modules/@angular/material/theming"; // import angular material variables

// layout
$gutter-width: 30px;
$container-margin: 30px;

$navbar-height: 64px;

/* Color Palette */
$black: #000000;
$white: #FFFFFF;

$app-primary: mat-palette($mat-grey, 900, 800, 700);
$app-accent: mat-palette($mat-blue-grey);

$app-warn: mat-palette($mat-red);

/* Typography */
$font-family-primary: "Martel, 'Palatino Linotype', Palatino, serif";
$font-family-secondary: "'Open Sans', Helvetica, Arial, sans-serif";

// breakpoints (from:https://github.com/angular/flex-layout/wiki/Responsive-API#mediaqueries-and-aliases)
/*
$xs:	'screen and (max-width: 599px)';
$sm:	'screen and (min-width: 600px) and (max-width: 959px)';
$md:	'screen and (min-width: 960px) and (max-width: 1279px)';
$lg:	'screen and (min-width: 1280px) and (max-width: 1919px)';
$xl:	'screen and (min-width: 1920px) and (max-width: 5000px)';
$lt-sm:	'screen and (max-width: 599px)';
$lt-md:	'screen and (max-width: 959px)';
$lt-lg:	'screen and (max-width: 1279px)';
$lt-xl:	'screen and (max-width: 1919px)';
$gt-xs:	'screen and (min-width: 600px)';
$gt-sm:	'screen and (min-width: 960px)';
$gt-md:	'screen and (min-width: 1280px)';
$gt-lg:	'screen and (min-width: 1920px)'; */

$xsBreakPoint: 600px;
$smBreakPoint: 960px;
$mdBreakPoint: 1280px;
$lsBreakPoint: 600px;
$xlBreakPoint: 1920px;
