@import "variables";

body {
  margin: 0;
}

@media screen and (min-width: $xsBreakPoint) {
  .section-container {
    padding: 0 30px;
  }
}

// All section titles are centered
.section-title {
  text-align: center;
  padding-top: 45px;
  line-height: 1;
}

/* v this really belongs in the navbar component but material api doesn't allow for easy styling of components
Angular Material is in beta so I'm allowed to do this. yay! */
.mat-toolbar {
  padding: 0 $container-margin !important;
  .mat-toolbar-row {
    align-items: stretch !important;
  }
}

.transcription-section,
.biography-section {
  max-width: 960px; //!important; // angular/flexbox is using this in the element
}
