<md-card>
  <md-card-header>
    <md-card-title>Alfredo Balcacer live dates</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-card *ngFor="let concert of concertData" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="45">
        <h3>{{ concert.start.datetime | date:"mediumDate"}} @ {{ concert.start.datetime | date:"shortTime" }}</h3>
        <h4>{{ concert.venue.displayName }}</h4>
        <p *ngIf="concert.performance.length > 1" class="mat-body">
          With: <span *ngFor="let performance of concert.performance; let last = last"> {{ performance.artist.displayName }}
            <span *ngIf="!last"> {{index}} | </span>
          </span>

        </p>
      </div>
      <div fxFlex="40">
        <h4 class="mat-subheading-1">{{ concert.location.city }}</h4>
      </div>
      <div fxFlex="15">
        <a md-button>Tickets</a>
      </div>
    </md-card>
  </md-card-content>
</md-card>
