<!--responsive navbar changes to sandwich menu on small screens-->
<md-toolbar color="primary">
  <span class="mat-display-4">ALFREDO BALCACER</span>
  <span class="navbar-spacer"></span>
  <div fxLayout fxShow="false" fxShow.gt-sm>
    <button md-button>Home</button>
    <button md-button>Music</button>
    <button md-button>Transcription</button>
    <button md-button>Concerts</button>
    <button md-button>Bio+Gear</button>
    <button md-button>Contact</button>
  </div>
  <button md-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>

<!--Menu for responsive layout-->
<md-menu x-position="after" #menu="mdMenu">
  <button md-menu-item>Home</button>
  <button md-menu-item>Music</button>
  <button md-menu-item>Transcription</button>
  <button md-menu-item>Concerts</button>
  <button md-menu-item>Bio+Gear</button>
  <button md-menu-item>Contact</button>
</md-menu>
