<!--responsive navbar changes to sandwich menu on small screens-->
<mat-toolbar color="primary" fxLayoutAlign="stretch">
  <span class="mat-display-4">ALFREDO BALCACER</span>
  <span class="navbar-spacer"></span>
  <div fxLayout fxShow="false" fxShow.gt-sm>
    <button mat-button alfSectionScroll scrollTo="#introduction-section" routerLink="/">Home</button>
    <button mat-button alfSectionScroll scrollTo="#music-section" routerLink="/">Music</button>
    <button mat-button alfSectionScroll scrollTo="#transcription-section" routerLink="/">Transcription</button>
    <button mat-button routerLink="/concerts">Concerts</button>
    <button mat-button alfSectionScroll scrollTo="#biography-section" routerLink="/">Bio+Gear</button>
    <button mat-button>Contact</button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!--Menu for responsive layout-->
<mat-menu xPosition="after" #menu="matMenu">
  <button mat-menu-item alfSectionScroll scrollTo="#introduction-section" routerLink="/">Home</button>
  <button mat-menu-item alfSectionScroll scrollTo="#music-section" routerLink="/">Music</button>
  <button mat-menu-item alfSectionScroll scrollTo="#transcription-section" routerLink="/">Transcription</button>
  <button mat-menu-item routerLink="/concerts">Concerts</button>
  <button mat-menu-item alfSectionScroll scrollTo="#biography-section" routerLink="/">Bio+Gear</button>
  <button mat-menu-item routerLink="/">Contact</button>
</mat-menu>
