<!--responsive navbar changes to sandwich menu on small screens-->
<md-toolbar color="primary">
  <span class="mat-display-4">ALFREDO BALCACER</span>
  <span class="navbar-spacer"></span>
  <div fxLayout fxShow="false" fxShow.gt-sm>
    <button md-button alfSectionScroll scrollTo="#introduction-section" routerLink="/">Home</button>
    <button md-button alfSectionScroll scrollTo="#music-section" routerLink="/">Music</button>
    <button md-button alfSectionScroll scrollTo="#transcription-section" routerLink="/">Transcription</button>
    <button md-button routerLink="/concerts">Concerts</button>
    <button md-button alfSectionScroll scrollTo="#biography-section" routerLink="/">Bio+Gear</button>
    <button md-button>Contact</button>
  </div>
  <button md-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>

<!--Menu for responsive layout-->
<md-menu x-position="after" #menu="mdMenu">
  <button md-menu-item alfSectionScroll scrollTo="#introduction-section">Home</button>
  <button md-menu-item alfSectionScroll scrollTo="#music-section">Music</button>
  <button md-menu-item alfSectionScroll scrollTo="#transcription-section">Transcription</button>
  <button md-menu-item routerLink="/concerts">Concerts</button>
  <button md-menu-item alfSectionScroll scrollTo="#biography-section">Bio+Gear</button>
  <button md-menu-item>Contact</button>
</md-menu>
