<md-list>
  <md-list-item *ngIf="currentSong" class="player">
    <md-icon md-list-icon (click)="playPrevious()">skip_previous</md-icon>
    <md-icon md-list-icon (click)="playPauseCurrentSong()" *ngIf="!isPlaying">play_circle_outline</md-icon>
    <md-icon md-list-icon (click)="playPauseCurrentSong()" *ngIf="isPlaying">pause_circle_outline</md-icon>
    <md-icon md-list-icon (click)="playNext()">skip_next</md-icon>
    <p md-line>{{ currentSong.songName }}</p>
    <p md-line>{{ currentSong.artist }}</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item *ngFor="let song of playList" [class.highlight]="currentSong === song" (click)="selectSong(song)">
    <md-icon md-list-icon>playlist_play</md-icon>
    <p md-line>{{ song.artist }}</p>
    <p md-line>{{ song.songName }}</p>
  </md-list-item>
</md-list>
