<mat-list>
  <mat-list-item *ngIf="currentSong" class="player">
    <mat-icon mat-list-icon (click)="playPrevious()">skip_previous</mat-icon>
    <mat-icon mat-list-icon (click)="playPauseCurrentSong()" *ngIf="!isPlaying">play_circle_outline</mat-icon>
    <mat-icon mat-list-icon (click)="playPauseCurrentSong()" *ngIf="isPlaying">pause_circle_outline</mat-icon>
    <mat-icon mat-list-icon (click)="playNext()">skip_next</mat-icon>
    <p mat-line>{{ currentSong.songName }}</p>
    <p mat-line>{{ currentSong.artist }}</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let song of playList" [class.highlight]="currentSong === song" (click)="selectSong(song)">
    <mat-icon mat-list-icon>playlist_play</mat-icon>
    <p mat-line>{{ song.artist }}</p>
    <p mat-line>{{ song.songName }}</p>
  </mat-list-item>
</mat-list>
