<md-sidenav-container id="concert-section" class="section-container">
  <h1 class="mat-h1 section-title">Concerts</h1>

  <a href="http://www.songkick.com/artists/9134449"
     class="songkick-widget"
     data-theme="dark"
     data-detect-style="true"
     data-font-color="#FFF"
     data-background-color="#333">Alfredo Balcacer tour dates</a>
  <script src="http://widget.songkick.com/widget.js"></script>

  <!--<songkick-tourbox [artistId]="9134449" [apiKey]="asdfecaecsdfefe"></songkick-tourbox>-->
</md-sidenav-container>
