<video class="video-stream html5-main-video"
       controls controlsList="nodownload"
       preload="metadata"
       src="{{ src }}">

</video>
<div class="playback-controls" fxLayout>
  <button md-button fxFlex="5">
    <md-icon>play_arrow</md-icon>
  </button>
  <button md-button fxFlex="5">
    <md-icon>pause</md-icon>
  </button>
  <md-slider fxFlex="15"></md-slider>
  <md-progress-bar fxFlex="70"></md-progress-bar>
  <button md-button fxFlex="5">
    <md-icon>fullscreen</md-icon>
  </button>
</div>
