<video #videoElement class="video-stream html5-main-video"
       controls controlsList="nodownload"
       preload="metadata"
       src="{{ src }}">

</video>
<div class="playback-controls" fxLayout>
  <button md-button (click)="playPause()" fxFlex="5" *ngIf="isPaused">
    <md-icon>play_arrow</md-icon>
  </button>
  <button md-button (click)="playPause()" fxFlex="5" *ngIf="!isPaused">
    <md-icon>pause</md-icon>
  </button>
  <md-slider min="0" max="1" step="0.1" [(ngModel)]="volume" (input)="updateVolume($event)" fxFlex="15"></md-slider>
  <md-progress-bar [value]="progressPercent" fxFlex="70"></md-progress-bar>
  <button md-button (click)="toggleFullscreen()" *ngIf="isFullscreenEnabled" fxFlex="5">
    <md-icon>fullscreen</md-icon>
  </button>
</div>
